*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

/* VIDEO */
#bgVideo{
position:fixed;
top:0;left:0;
width:100%;height:100%;
object-fit:cover;
z-index:-3;
}

/* DARK OVERLAY */
body::before{
content:"";
position:fixed;inset:0;
background:linear-gradient(rgba(0,0,0,.75), rgba(20,0,0,.9));
z-index:-2;
}

body{color:white;overflow:hidden}

/* LOADING */
#loading{
position:fixed;inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
z-index:10;
}

#loading h1{
font-size:60px;
color:#ff1a1a;
margin-bottom:25px;
letter-spacing:6px;
animation:pulse 1.2s infinite alternate;
}

@keyframes pulse{
from{opacity:.5}
to{opacity:1}
}

.bar{
width:260px;
height:6px;
background:#222;
border:1px solid red;
position:relative;
overflow:hidden;
}

.fill{
position:absolute;
top:0;left:0;
height:100%;
width:0%;
background:#ff1a1a;
transition:width .1s linear;
}

#percentText{
margin-top:10px;
color:#ff1a1a;
font-size:14px;
}

#enterText{
margin-top:20px;
color:#ff1a1a;
display:none;
cursor:pointer;
animation:blink 1s infinite;
}

@keyframes blink{
50%{opacity:.3}
}

/* MAIN */
#main{
opacity:0;
transform:translateY(25px);
transition:.8s ease;
}

#main.show{
opacity:1;
transform:translateY(0);
}

.hidden{display:none}

/* LANDING */
#landing{
position:absolute;
top:50%;left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

#landing img{width:140px;margin-bottom:20px}

#daftarBtn{
padding:10px 25px;
background:#111;
border:1px solid red;
color:#ff1a1a;
cursor:pointer;
transition:.3s;
}

#daftarBtn:hover{
background:#ff1a1a;
color:black;
}

/* MENU BUTTON */
#menuToggle{
position:fixed;
top:20px;right:20px;
font-size:28px;
cursor:pointer;
background:#111;
padding:8px 14px;
border:1px solid red;
z-index:10;
}

/* DROPDOWN */
#dropdownMenu{
position:fixed;
top:65px;right:20px;
width:180px;
background:#0b0b0b;
border:1px solid red;
display:flex;
flex-direction:column;
transform:translateY(-10px);
opacity:0;
pointer-events:none;
transition:.3s;
}

#dropdownMenu.show{
transform:translateY(0);
opacity:1;
pointer-events:auto;
}

#dropdownMenu p{
padding:14px;
cursor:pointer;
border-bottom:1px solid #1a1a1a;
transition:.2s;
}

#dropdownMenu p:hover{
background:#ff1a1a;
color:black;
}

/* MUSIC BOX */
#musicBox{
position:fixed;
bottom:20px;right:20px;
background:#111;
border:1px solid red;
padding:10px 15px;
cursor:pointer;
}

/* CONTENT */
#content{margin-top:80px;padding:20px}

.section{display:none;animation:fade .5s}
.section.show{display:block}

@keyframes fade{
from{opacity:0;transform:translateY(10px)}
to{opacity:1;transform:translateY(0)}
}

/* GALERI */
.gallery{
display:flex;
flex-direction:column;
gap:15px;
}

.gallery img{
width:100%;
max-width:320px;
border:2px solid red;
}
