*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

/* VIDEO */
#bgVideo{
position:fixed;
top:0;left:0;
width:100%;height:100%;
object-fit:cover;
z-index:-3;
}

/* OVERLAY */
body::before{
content:"";
position:fixed;inset:0;
background:linear-gradient(rgba(0,0,0,0.75), rgba(20,0,0,0.85));
z-index:-2;
}

body::after{
content:"";
position:fixed;inset:0;
background:radial-gradient(circle, rgba(255,0,0,0.18), transparent 70%);
z-index:-1;
}

body{color:white;overflow:hidden}

/* LOADING */
#loading{
position:fixed;inset:0;
display:flex;flex-direction:column;
justify-content:center;align-items:center;
background:black;color:#ff1a1a;
animation:fadeOut 1s ease 2s forwards;
z-index:5;
}

@keyframes fadeOut{to{opacity:0;visibility:hidden;}}

/* ENTER */
#enterScreen{
position:fixed;inset:0;
display:flex;justify-content:center;align-items:center;
text-align:center;background:black;color:#ff1a1a;
cursor:pointer;z-index:4;
}

.hidden{display:none}

/* MENU BUTTON */
#menuToggle{
position:fixed;top:20px;right:20px;
font-size:28px;cursor:pointer;color:#ff1a1a;
background:#111;padding:8px 14px;
border:1px solid red;z-index:10;
}

/* DROPDOWN */
#dropdownMenu{
position:fixed;top:65px;right:20px;
width:180px;background:#0b0b0b;
border:1px solid red;display:none;
flex-direction:column;z-index:10;
animation:fadeMenu .3s ease;
}

#dropdownMenu p{
padding:14px;cursor:pointer;
border-bottom:1px solid #1a1a1a;
transition:.25s;
}

#dropdownMenu p:hover{
background:rgba(255,0,0,.2);
padding-left:22px;color:#ff1a1a;
}

/* CONTENT */
#content{margin-top:80px;padding:20px}

.section{
opacity:0;
transform:translateY(20px);
transition:.4s ease;
}

.section.show{
opacity:1;
transform:translateY(0);
}

.section h2{color:#ff1a1a;margin-bottom:15px}

/* GALERI */
.gallery{display:flex;gap:20px}

.gallery img{
width:200px;height:140px;
background:#222;border:2px solid #ff1a1a;
object-fit:cover;
}

/* WAR */
textarea{
width:100%;height:200px;
background:black;color:white;
border:1px solid red;padding:10px;
}

/* CLICK ANIMATION */
.click-anim{animation:clickPulse .25s ease}

@keyframes clickPulse{
0%{transform:scale(1)}
50%{transform:scale(.9);box-shadow:0 0 18px red}
100%{transform:scale(1)}
}

@keyframes fadeMenu{
from{opacity:0;transform:translateY(-10px)}
to{opacity:1;transform:translateY(0)}
}
